@layer fonts {
  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/montserrat-v31-latin-regular.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("src/assets/fonts/montserrat-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("src/assets/fonts/montserrat-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("src/assets/fonts/montserrat-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("src/assets/fonts/montserrat-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("src/assets/fonts/montserrat-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* lato-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("src/assets/fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("src/assets/fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@layer basic-styling {
  :root {
    font-family: "Lato", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* CSS HSL */
    --persian-indigo: hsla(270, 100%, 20%, 1);
    --persian-indigo-dark: hsl(270, 100%, 5%);
    --bright-pink-crayola: hsla(354, 100%, 71%, 1);
    --baby-powder: hsla(30, 100%, 99%, 1);
    --celeste: hsla(175, 63%, 81%, 1);
    --eggplant: hsla(327, 24%, 35%, 1);

    --primary-color: var(--persian-indigo);
    --accent-color: var(--bright-pink-crayola);

    --background-color-light: var(--baby-powder);
    --background-color-dark: var(--persian-indigo);

    --text-color-light: var(--baby-powder);
    --text-color-dark: var(--persian-indigo-dark);
  }

  body {
    margin: 0;
    min-height: 100vh;
    color: var(--text-color-dark);
    background-color: var(--background-color-light);
    font-size: clamp(1rem, 0.895rem + 0.4479vw, 1.25rem);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: clamp(2rem, 1.5801rem + 1.7917vw, 3rem);
  }

  h2 {
    font-size: clamp(1.5rem, 1.29rem + 0.8959vw, 2rem);
  }

  img {
    max-width: 100%;
  }
}

@layer utilities {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .button {
    font-weight: 700;
    color: var(--text-color-light);
    text-decoration: none;
    padding: 0.75em 1.25em;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);

    &:hover {
      background-color: var(--background-color-light);
      border-color: var(--background-color-dark);
      color: var(--text-color-dark);
    }
  }

  .button-outline {
    color: var(--primary-color);
    background-color: transparent;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    display: flex;
  }

  .card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@layer header {
  header {
    background: var(--accent-color);
    color: var(--text-color-light);
  }

  h1 {
    color: var(--primary-color);
    line-height: 1.1;
  }

  .main-nav {
    padding: clamp(1rem, 0.5801rem + 1.7917vw, 2rem) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 15%;
    img {
      height: auto;
    }
  }

  .nav-list {
    display: none;
    list-style-type: none;

    gap: 2rem;
    margin-left: auto;
    margin-right: 3rem;
  }

  .nav-button {
    display: none;
  }

  .hero > .container,
  .hero-text,
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 1.0801rem + 1.7917vw, 2.5rem);
  }

  .hero > .container {
    padding: clamp(2rem, -0.0997rem + 8.9586vw, 7rem) 0;
    gap: clamp(2rem, 1.5801rem + 1.7917vw, 3rem);
  }

  .statistics {
    background: linear-gradient(
      to bottom,
      var(--accent-color),
      var(--accent-color) 45%,
      var(--eggplant)
    );
  }

  .statistics > .container {
    padding: clamp(2rem, 1.5801rem + 1.7917vw, 3rem) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .statistics-item {
    max-width: 12rem;
  }

  .statistics-amount {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .statistics-description {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  @media only screen and (min-width: 48rem) {
    .nav-list {
      display: flex;
    }

    .nav-button {
      display: inline-block;
    }

    .menu-button {
      display: none;
    }

    .hero-buttons {
      flex-direction: row;
    }

    .hero > .container,
    .hero-text {
      align-items: flex-start;
      text-align: start;
    }

    .statistics > .container {
      flex-direction: row;
      gap: 2rem;
    }
  }
}

@layer main {
  .services {
    padding: clamp(2rem, 1.1601rem + 3.5834vw, 4rem) 0;
    background-color: var(--background-color-light);
  }

  .service-cards {
    margin-top: clamp(1.5rem, 1.1851rem + 1.3438vw, 2.25rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0rem, 2.8399rem + -3.5834vw, 2rem);

    .card:nth-child(even) {
      background-color: var(--accent-color);
    }

    .card:nth-child(odd) {
      background-color: var(--background-color-dark);
      color: var(--text-color-light);
    }

    .service-details-list {
      list-style-type: none;
      display: flex;
      text-align: start;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1rem;
    }

    .card {
      justify-content: start;
    }
  }

  @media only screen and (min-width: 48rem) {
    .service-cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
